@(uuid: String) @layout(title = "Spark Streaming", appName = "spark") {

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/epoch.min.css")">

<section>
	<div class="row" data-ng-controller="SparkController"
		data-ng-init="startSocket('@uuid')">
		<div
			class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
			<div>
				<h3>Spark Streaming</h3>
			</div>

			<div class="border container fill">
				<div class="panel-body" id="file">
					Text goes here						
				</div>
			</div>
		</div>
	</div>

	</div>
</section>

<script src="@routes.Assets.at("javascripts/app.js")"></script>
<script src="@routes.Assets.at("javascripts/controllers.js")"></script>
<script src="@routes.Assets.at("javascripts/epoch.min.js")"></script>

}





